h1 {
  display: flex;
  position: relative;
  justify-content: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-content: flex-end;

}

header {
  display: flex;
  position: relative;
  justify-content: center;
}

.level-editor, .submit-style {
  display: block;
  margin: 15px;
  color:white;
  background-color: black;
}
.sentences-js {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  
}

#timer-display {
  background-color: black;
  color: white;
  font-size: xx-large;
}
